@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --first: #ff6b2b;
    --secondary: #edf2fa;
    --turtury: #1074d1;
      --primary:#536dff;
}

* {
  font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::selection {
    background: #d7d7d7;
    color: #fff;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
  padding: 2rem 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 1.5rem 10%;
    background: #fff;
    width: 100vw;
    box-shadow: 0 0 0.5rem #878787;
}

header .logo {
    width: 40%;
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}

header .navbar ul li {
    margin: 0 1.5rem;
}

header .navbar ul li a {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: #1fa9c8;
}

header #menu {
    font-size: 4rem;
    color: #1fa9c8;
    cursor: pointer;
    display: none;
}

header.header-active {
    height: 10vh;
    background: #fff;
    box-shadow: 0 .1rem .6rem rgba(0, 0, 0, .3);
}

.began{
  border: solid 2px #1fa9c8;
  background-color: inherit;
  color: #1fa9c8;
  font-size: 1.5rem;
  font-weight: 700;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0 3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.began:hover{
  border: none;
  color: #fff;
  background: #1fa9c8;
}
.sign,.hero-1 a{
  background-color: #1fa9c8;
  border: none;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s;
}
.sign:hover,.hero-1 a:hover{
  border: solid 2px #1fa9c8;
  background-color: #fff;
  color: #1fa9c8;
}
.hept{
  margin-top: 10%;
}
.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  height: auto;
  min-height: 70vh;
margin-bottom: 5%;
}
.hero-1 h1{
  font-size: 5rem;
  color: #405364;
  font-weight: 700;
  margin-bottom: 4%;
  margin-top: 25%;
}
.hero-1 h2{
  padding-right: 12%;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 8%;
  color: #405364;
}
.hero-2 img{
  width: 100%;
  margin-top: 15%;
}
#diagram{
  text-align: center;
  background-color: #f7fafb;
  padding-bottom: 5%;
  color: #405364;
  position: relative;
}
#diagram h5{
  font-size: 4.3rem;
  padding-top: 5%;
}
.d1,.d2,.d3,.d4,.d5{
  position: absolute;
}
.d1,.d2,.d3,.d4,.d5{
margin: 4% 0;
width: 20%;
margin-left: 40%;
text-align: left;
}
.d1 h1,.d2 h1,.d3 h1,.d4 h1,.d5 h1{
font-size: 5rem;
margin-bottom: 4%;
color: #f8886c;
}
.d1 h2,.d2 h2,.d3 h2,.d4 h2,.d5 h2{
font-size: 2.5rem;
margin-bottom: 4%;
}
.d1 h3,.d2 h3,.d3 h3,.d4 h3,.d5 h3{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.d1{
  right: 35%;
  top: 10%;
}
.d2{
  top: 42rem;
  right: 15rem;
}
.d3{
  top: 77rem;
  right: 22rem;
  }
  .d4{
    top: 78rem;
  right: 82rem;
  }
  .d5{
    top: 38rem;
    right: 99rem;
  }
#diagram img{
  margin-top: 22%;
  margin-bottom: 10%;
}
#last{
  background-color: #f7fafb;
  height: auto;
  text-align: center;
  padding-bottom: 5%;
}
#last h1{
  font-size: 4rem;
  text-align: center;
  color: #405364;
  margin: 5% 0;
}
#last a{
  background-color: #1fa9c8;
  border: none;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
#last a:hover{
color: #1fa9c8;
background-color: #f7fafb;
border: solid 1px #1fa9c8;
}





.footer{
  background:#0e0e2d;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
  text-transform: capitalize;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
  text-transform: capitalize;
}

.footer .box-container .box a:hover{
  color:var(--primary);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:var(--primary);
}
@media(max-width:1260px){
  .d2{
    right: 5rem;
  }
  .d4{
    right: 55%;
  }
  .d5{
    right: 75%;
  }
  .d3{
    right: 12%;
  }
  .began{
    width: 17rem;
  }
  .d1{
    top: 8%;
  }
  .sign{
    width: 12rem;
  }
}
@media(max-width:1100px){
  .hero{
    grid-template-columns: 1fr;
  }
  .hero-1 h1{
    margin-top: 10%;
  }
  .hero-2 img{
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 991px) {


    header .logo{
      width: 50%;
    }
    header .logo img{
      width: 50%;
    }
    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-100rem; left: 0;
        width: 100%;
        opacity: 0;
        background:#f7fafb;
        border-top: .1rem solid rgba(0,0,0,.3);
        transition: all 0.5s;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        color: #405364;
        display: block;
    }

    header .navbar.nav-toggle{
        top:8rem;
        opacity: 1;
    }

 .began,.sign{
   width: 90%;
   font-size: 2rem;
 }

 .footer .box-container{
   text-align: center;
 }

 .d1,.d2,.d3,.d4,.d5{
   position: relative;
   top: 0;
   right: 0;
   width: 100%;
   margin-left: 0;
 }
 #diagram img{
   margin-top: 5%;
 }
 .partition{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 50px;
 }
 .hero{
   margin-top: 0;
 }
 .hero-2 img{
   margin-top: 5%;
   width: 70%;
   margin-left: 15%;
 }
 .hero h1{
   margin-top: 0;
 }
 .hept h1{
   margin-top: 20%;
 }

  }
  @media(max-width:600px){
    #diagram img{
      width: 70%;
    }
    header.header-active {
      height: 8vh;
    }
    header .logo{
      width: 70%;
    }
    #diagram{
      height: auto;
    }
  }
  @media (max-width:530px){
    html{
      font-size: 45%;
    }
  }
